.nav-mobile {
  display: flex;
  align-items: center;
  color: #696969;
  padding: 5px;
  border-bottom: 1px solid #f0eeee;
  justify-content: space-between;
}

.logo-nav {
  max-width: 40px;
  padding-left: 5px;
  cursor: pointer;
}

.hamburguer-nav {
  font-size: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.popup-mobile {
  position: absolute;
  top: 0;
}

.empty {
  display: none;
}

.links-section {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #cccacad8;
  background-image: url(../images/dna.png), url(../images/dna.png);
  background-position: 0 0, 100% 100%;
  background-size: 100px;
  backdrop-filter: blur(3px);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  animation: down 1s;
  border-end-start-radius: 100px;
}

@keyframes down {
  0% {
    transform: translate(100%, -100%);
    opacity: 0;
  }
  
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.links-section a {
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  color: #2b5c88;
}

.links-section a:hover {
  transition-duration: 0.5s;
  color: #fff;
}

ul .x-mobile {
  transition-duration: 0.5s;
  position: absolute;
  cursor: pointer;
  list-style: none;
  top: 1%;
  right: 5%;
  color: #521818;
  font-size: 20px;
}

.x-mobile:hover {
  transition-duration: 0.5s;
  color: #fff;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
  align-items: center;
}

.presentation h1 {
  text-align: center;
  font-weight: 100;
  font-size: 7vw;
  color: #337ab7;
  max-width: 85%;
  line-height: 1.2em;
}

.presentation p {
  text-align: center;
  color: #696969;
  max-width: 85%;
}

.scroll-img {
  width: 100%;
  max-width: 1300px;
  animation: opacity 1s;
  z-index: 0;
  background-color: #696969;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll-div {
  position: relative;
}

.angle-right {
  position: absolute;
  right: 2%;
  bottom: 35%;
}

.angle-left {
  position: absolute;
  left: 2%;
  bottom: 35%;
}

.scroll-div button {
  transition-duration: 0.5s;
  cursor: pointer;
  background: none;
  color: #696969;
  border: none;
  font-size: 2em;
}

.scroll-div button:hover {
  transition-duration: 0.5s;
  color: #fff;
}